# Environments
venv/
env/
.env
__pycache__/

# Media files
*.wav
*.mp3
*.mp4
*.mkv
*.avi
*.mov
*.flac
*.aac
*.ogg

# Project specific
*.txt
temp_chunk_*.wav

# System files
.DS_Store
Thumbs.db

# ffmpeg
ffmpeg/
ffmpeg.exe
ffprobe.exe
ffplay.exe
